<StackLayout class="page" height="100%">
    <Label textWrap="true" text="Reward page, below are the possible prices" class="h2 description-label"></Label>

    <ListView [items]="items" height="100%">
        <ng-template (tap)="navigate_item(item)" let-item="item" let-i="index" let-odd="odd" let-even="even">
            <StackLayout>
                <Label [text]="item.id"></Label>
                <Label [text]='item.price'></Label>
                <Label [text]='item.item_description'></Label>
                <Image [src]="item.image_source"></Image>
            </StackLayout>
        </ng-template>
    </ListView>
</StackLayout>